# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  marg,
  statmod,
  survival
)

importFrom("graphics", "contour", "plot")
importFrom("stats", "coef", "dlogis", "dt", "dweibull", "family",
           "model.matrix", "optim", "rchisq", "rnorm", "rt", "runif",
           "spline")

S3method(plot, Lapl.cont)
S3method(plot, Lapl.spl)
